*{
    margin: 0;
    padding: 0;
}


#buttons{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin: auto;
    border: 2px solid black;
    height: 100px;
    width: 50%;
}

#buttons button{
    padding: 10px 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;

}